* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.main-container {
    text-align: center;
}

.header {
    margin-top: 1%;
    color: #fff;
}

.content {
    margin-top: 8%;
    margin-bottom: 8%;
}

#record-msg {
    color: #fff;
}

#microphone-img {
    width: 20%;
}

.footer {
    margin-bottom: 1%;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#start {
    background-color: #32CD32;
    margin-right: 25px;
}

#stop {
    background-color: #ff0000;
}

.btn {  
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
  }

  .disabled {
      background-color: #696969 !important;
  }

  .hidden {
      display: none;
  }