* {
    margin: 0;
    padding: 0;
}

.main-container {
    text-align: center;
}

.header {
    margin-top: 2%;
}

.content {
    margin-top: 15%;
    margin-bottom: 15%;
}

#start {
    background-color: #32CD32;
    margin-right: 25px;
}

#stop {
    background-color: #ff0000;
}

.btn {  
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
  }

  .hidden {
      background-color: #696969 !important;
  }